/* Style for a section with centered content */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height of the section to 100% of the viewport height */
  }
  
  /* Style for the heading within a section */
  section h2 {
    position: relative;
    bottom: -15vh; /* Adjusting the heading position */
    right: 2vh;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Style for a container within a section with flex properties */
  section div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; /* Center the container horizontally */
    max-width: 1000px; /* Set a maximum width for the container */
  }
  
  /* Style for paragraph text within a section */
  section p {
    position: relative;
    left: 20vh; /* Adjusting the text position */
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: 20px;
    max-width: 1000px; /* Increased max-width for the text */
  }
  
  /* Style for images within a section */
  section img {
    position: relative;
    max-width: 40%; /* Set a maximum width for images */
    height: auto; /* Maintain aspect ratio */
    left: 60vh; /* Adjusting the image position */
  }
  
  /* Media query for responsive design below 768px */
  @media (max-width: 768px) {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 170vh; /* Adjusted height for smaller screens */
      padding: 20px; /* Added padding for better spacing */
    }
  
    section h2 {
      position: relative;
      bottom: 0;
      right: 0;
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    section div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto; /* Center the container horizontally */
      max-width: 1000px; /* Set a maximum width for the container */
    }
  
    section img {
      max-width: 100%; /* Ensure images take the full width on smaller screens */
      height: auto; /* Maintain aspect ratio */
      left: 0;
      margin-top: 20px; /* Add some margin to the top of images for spacing */
    }
  }
  