body {
  margin: 0;
}

/* Styling for the header */
header {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 100%;
  max-width: none;
  box-sizing: border-box; 
}

/* Styling for the heading within the header */
h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Styling for the navigation menu */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

/* Styling for navigation links */
nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid transparent;

  /* Hover effect for navigation links */
  &:hover {
    background-color: #555;
    border-bottom-color: #fff;
  }
}

/* Media query for responsiveness at smaller screen sizes */
@media (max-width: 767.98px) {
  /* Adjusting the layout for navigation at smaller screens */
  nav {
    flex-direction: column;
  }
  /* Adjusting styling for navigation links at smaller screens */
  nav a {
    padding: 10px;
    border-bottom: 1px solid #fff;
  }
}

@media (max-width: 575.98px) {
  header {
    padding: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  nav a {
    padding: 5px;
  }
}
